langchain==0.3.25
langchain-core==0.3.62
langchain-community==0.3.24
langchain-google-genai==2.1.4
langchain-huggingface==0.1.2
langchain-chroma==0.2.4
langchain-groq==0.3.2
langgraph==0.2.56
sentence-transformers==3.4.1
unstructured==0.17.2
chromadb>=1.0.9
gradio==6.13.0
joblib
pandas
